arrow==1.1.1
async-generator==1.10
asyncio==3.4.3
beautifulsoup4==4.9.3
xgboost
bleach==4.0.0
future==0.18.2
graphutil==1.6.2
html5lib==1.1
httplib2==0.19.1
ib==0.8.0
joblib==1.0.1
jupyter-core
jupyter-client
jupyterlab-pygments
jupyterlab-widgets
lxml==4.6.3
MarkupSafe==2.0.1
matplotlib==3.4.2
matplotlib-inline==0.1.2
nbconvert==6.1.0
numpy
pandas==1.3.5
pandas_ta
pandocfilters
pdfkit
Pillow
python-dateutil
python-telegram-bot==13.7
regex
requests
scikit-learn
scikit-plot
scipy
seaborn==0.11.1
selenium==3.141.0
spacy==3.1.1
spacy-legacy==3.0.8
SQLAlchemy==1.4.22
ta==0.7.0
telegram-send==0.25
tzlocal==3.0
urllib3==1.25.11
yahoofinance==0.0.2
yfinance==0.1.63
#TA-Lib
